.modal-backdrop{
    position: relative;
    background-color: transparent;
    height: 0;

}

.my-modal{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.20);
}
